body {
font-family: 'pt sans';
font-size: 13px;
min-height: 100%;
}

.texto {
    font-family: 'pt sans';
    font-size: 14px;
}

.titulo {
    font-family: 'pt sans';
    font-size: 18px;
    font-weight: bold;
}

html {
    width:960px;
    height:100%;
    margin:0;
    padding: 0;
}
#grafico_fies{
    width:100%;
    height:100%;
    margin:0;
    padding: 0;
}

#grafico_fies > svg{
    display:block;
}

.color-default {
    stroke: #8f598f !important;
    fill: #8f597d !important;
}
